.language-switcher {
  flex-direction: row;
  margin-left: -6px;
}

.language-switcher__button {
  border: none;
  background-color: transparent;

  &:hover {
    color: $aqua;
    transition-property: color;
    transition-duration: 0.4s;
  }

  @extend %footer-menu__link-styles;
}

.language-switcher {
  &__item {
    &--active {
      & .language-switcher__button {
        color: $basic-gray;
      }
    }
  }

  @extend %footer-menu__list-styles;
}
