.modal {
  background-color: $basic-white;
  width: 320px;
  min-height: 100vh;
  padding: 24px 0 24px 0;
  margin-left: auto;
  position: fixed;
  z-index: 10;
  top: 0;

  &--feedback {
    min-height: 988px;

    @media (min-width: $desktop-width) {
      left: calc(50% - 560px);
    }

    @media (min-width: $desktop-width) {
      width: 440px;
      right: 0;
    }

    &-hidden {
      display: none;
    }
  }

  &--call {
    min-height: 988px;

    @media (min-width: $desktop-width) {
      left: calc(50% - 560px);
    }

    @media (min-width: $desktop-width) {
      width: 440px;
      right: 0;
    }

    &-hidden {
      display: none;
    }
  }

  &__closed {
    position: relative;
    margin: 0 0 32px 24px;
    &::after {
      background-image: url("../img/menu/menu-burger-closed.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    padding: 0 0 0 23px;
    font-size: 24px;
  }

  &__feedback {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: $basic-gray;

    &-link {
      color: $pink;
      text-decoration: none;

      &:hover, &:focus {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.6;
      }
    }
  }

  &__form {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &-input {
      font-family: $font-family;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: $pagination-secondary;
      padding: 12px 16px;
      border: 1px solid $secondary-gray;
      border-radius: 8px;

      &:hover, &:focus {
        border-color: $pink;
        outline: none;
      }
      &:active {
        border-color: $pink;
        opacity: 0.6;
      }
    }
  }

  &__button {
    background-color: $pink;
    font-family: $font-family;
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding-left: 13px;
    color: $basic-white;
    text-align: left;
    width: 119px;
    height: 32px;
    border: none;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    -webkit-appearance: none;

    &:after {
      content: '';
      position: absolute;
      width: 7px;
      height: 10px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../img/price/price-arrow-white.svg");
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
