.button {
  font-family: "TT Lakes", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: $basic-black;
  margin: 0;
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 7px 7px 7px 16px;
  transition: color 0.3s ease, padding 0.3s ease, transform 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 10px;
    background-image: url('../img/services/services-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.6s ease;
  }

  &:hover {
    color: lighten($pink, 10%);
    padding-left: 30px;

    &:focus {
      outline: none;
      color: lighten($pink, 15%);
    }

    &:active {
      color: darken($pink, 15%);
      transform: scale(0.98);
    }
  }
}
