// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// Fonts
$font-family: "TT Lakes", "Arial", sans-serif;

// Colors
$basic-white: #ffffff;
$divider: #41f6d7;
$btn: #ff3e79;
$primary-bg: #f8f8f8;
$border: #d9fff5;
